.footer {
    background-color: var(--color-primary);
    padding-top: var(--space-fluid-2xl);

    &__social {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        &-item {
            background-color: var(--color-primary);
            border-radius: 50px;
            list-style: none;
            transition: var(--transition);
            &:hover {
                transform: rotate(180deg);
            }
        }
        &-link {
            display: inline-flex;
            color: var(--color-primary);
            text-decoration: none;
            line-height: 0;
            padding: 8px;
            svg {
                fill: var(--color-banner);
                width: 20px;
            }
        }
    }
    &__wrapper {
        gap: 0;
    }
    &-cta {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--space-fluid-lg);
        gap: var(--space-md);

        &__heading {
            color: var(--color-heading-white);
        }
        &__content {
            display: flex;
            flex-direction: column;
            color: var(--color-text-white);
            gap: var(--space-sm);
        }
    }
    &__logo {
        font-weight: 800;
        font-size: 28vw;
        background: linear-gradient(
            177deg,
            rgb(255 255 255) 9%,
            rgb(255 255 255 / 9%) 100%
        );
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    &-main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: var(--space-fluid-lg);
        padding-block: var(--space-fluid-lg);
        border-bottom: 1px solid var(--color-offwhite);
        &__introduction {
            display: flex;
            max-width: max(392px, 40%);
            width: 100%;
            color: var(--color-text-white);
            flex-flow: column;
            gap: var(--space-xsm);
        }

        &__nav {
            max-width: 130px;
            width: 100%;
            color: var(--color-text-white);
            &-title {
                color: var(--color-heading-white);
                margin-bottom: var(--space-xsm);
            }
            &-list {
                display: flex;
                flex-flow: column;
                gap: var(--space-3xsm);
                a {
                    color: var(--color-text-white);
                    text-decoration: none;
                }
            }
        }
        &__quick-links {
            max-width: 180px;
            width: 100%;
            color: var(--color-text-white);
            .quick-links__title {
                color: var(--color-heading-white);
                margin-bottom: var(--space-xsm);
            }
        }
        &__contact {
            max-width: 310px;
            width: 100%;
            color: var(--color-text-white);
            &-title {
                color: var(--color-heading-white);
                margin-bottom: var(--space-xsm);
            }
            &-list {
                display: flex;
                flex-flow: column;
                gap: var(--space-3xsm);
            }
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                gap: var(--space-xsm);
            }
        }
    }
    &-copyright {
        color: var(--color-text-white);
        text-align: center;
        padding-block: var(--space-lg);
    }
}
